.main-layout {
  display: flex;
  min-height: 100vh;
}

.side-menu {
  display: flex;
  position: fixed;
  left: 0;
  flex-direction: column;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 100px;
}
